//
// Layout
// --------------------------------------------------

.panel {
	min-height: 100%;

	&> .panel-body,
	&> .list-group {

	}

	&> .panel-footer {

	}
}
.in {
	&> .btn-group-vertical {
		display: block;

		&> .btn:first-child:not(:last-child) {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
		&> .btn:last-child:not(:first-child) {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

/* iCheck */
[class*="icheckbox"] {
	float: left;
	margin-right: 10px;
}

@media (min-width: @screen-tablet) {

}

@media (min-width: @screen-desktop) {

}

@media (min-width: @screen-lg-desktop) {

}