//
// Theme
// --------------------------------------------------

// Fullscreen Background
// -------------------------

body {
	background: #F5F5F5;
}

/* Text */
.text-muted {
  &:hover {
    text-decoration: none;
  }
}
.text-success-light {
  color: @brand-success-light;
}
.text-success-dark {
  color: @brand-success-dark;
}
.text-info-light {
  color: @brand-info-light;
}
.text-info-dark {
  color: @brand-info-dark;
}
.text-primary {
  color: @brand-primary;
}
.text-primary-light {
  color: @brand-primary-light;
}
.text-primary-dark {
  color: @brand-primary-dark;
}
.text-warning-light {
  color: @brand-warning-light;
}
.text-warning-dark {
  color: @brand-warning-dark;
}
.text-danger-light {
  color: @brand-danger-light;
}
.text-danger-dark {
  color: @brand-danger-dark;
}
.text-inverse {
  color: @brand-inverse;
}
.text-inverse-inverse {
  color: @brand-inverse-light;
}
.text-inverse-inverse {
  color: @brand-inverse-dark;
}

/* Colored Form */
.form-control.control-success {
  border: 1px solid @brand-success;
}
.form-control.control-primary {
  border: 1px solid @brand-primary;
}
.form-control.control-info {
  border: 1px solid @brand-info;
}
.form-control.control-warning {
  border: 1px solid @brand-warning;
}
.form-control.control-danger {
  border: 1px solid @brand-danger;
}
.form-control.control-inverse {
  border: 1px solid @brand-inverse;
}

/* Color Wells */
.well-success {
  .box-shadow (inset 2px 0 0 @brand-success);
}
.well-primary {
  .box-shadow (inset 2px 0 0 @brand-primary);
}
.well-info {
  .box-shadow (inset 2px 0 0 @brand-info);
}
.well-warning {
  .box-shadow (inset 2px 0 0 @brand-warning);
}
.well-danger {
  .box-shadow (inset 2px 0 0 @brand-danger);
}
.well-inverse {
  .box-shadow (inset 2px 0 0 @brand-inverse);
}

/* Buttons */
.btn-none {
  &,
  &:hover,
  &:focus,
  &:active {
    border: 0;
    background: transparent;
  }
  &:hover {
    color: lighten(@btn-default-color, 20%);
  }
}

/* Colored Backgrounds */
.footer-primary {
  background: #34495e; /* Old browsers */
  background: -moz-linear-gradient(top,  #34495e 0%, #2c3e50 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34495e), color-stop(100%,#2c3e50)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #34495e 0%,#2c3e50 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #34495e 0%,#2c3e50 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #34495e 0%,#2c3e50 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #34495e 0%,#2c3e50 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#2c3e50',GradientType=0 ); /* IE6-9 */

  border-top: 1px solid darken(@brand-primary, 20%);
  .box-shadow (0 -2px 0 rgba(0, 0, 0, 0.2));
}

/* Color Tabs */
.nav-tabs {
  border-bottom: 0;
  > li {

    > a.tab-primary {
      color: #FFF;
      background-color: @brand-primary-light;
      border: 1px solid transparent;
      .opacity (0.25);
      &:hover {
        border-color: @brand-primary-light;
      }
    }
    &.active > a.tab-primary {
      &,
      &:hover,
      &:focus {
        color: #FFF;
        background-color: @brand-primary-light;
        border: 1px solid @brand-primary-light;
        .opacity (1);
      }
    }
    > a.tab-success {
      color: #FFF;
      background-color: @brand-success;
      border: 1px solid transparent;
      .opacity (0.25);
      &:hover {
        border-color: @brand-success;
      }
    }
    &.active > a.tab-success {
      &,
      &:hover,
      &:focus {
        color: #FFF;
        background-color: @brand-success;
        border: 1px solid @brand-success;
        .opacity (1);
      }
    }
    > a.tab-info {
      color: #FFF;
      background-color: @brand-info;
      border: 1px solid transparent;
      .opacity (0.25);
      &:hover {
        border-color: @brand-info;
      }
    }
    &.active > a.tab-info {
      &,
      &:hover,
      &:focus {
        color: #FFF;
        background-color: @brand-info;
        border: 1px solid @brand-info;
        .opacity (1);
      }
    }
    > a.tab-warning {
      color: #FFF;
      background-color: @brand-warning;
      border: 1px solid transparent;
      .opacity (0.25);
      &:hover {
        border-color: @brand-warning;
      }
    }
    &.active > a.tab-warning {
      &,
      &:hover,
      &:focus {
        color: #FFF;
        background-color: @brand-warning;
        border: 1px solid @brand-warning;
        .opacity (1);
      }
    }
    > a.tab-danger {
      color: #FFF;
      background-color: @brand-danger;
      border: 1px solid transparent;
      .opacity (0.25);
      &:hover {
        border-color: @brand-danger;
      }
    }
    &.active > a.tab-danger {
      &,
      &:hover,
      &:focus {
        color: #FFF;
        background-color: @brand-danger;
        border: 1px solid @brand-danger;
        .opacity (1);
      }
    }
  }
}


/* Label */
.label {
  border-radius: 20px;
}

/* Panel */
.panel {
	& > .in,
  & > .collapse,
  & > .collapsing {
    .box-shadow (0 2px 1px rgba(0, 0, 0, 0.2));
  }

}

/* Search */
.form-search {
  border-radius: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;

  &:focus {
    background-color: @brand-info;
    color: #FFF;
    .placeholder(lighten(@brand-info, 30%));
  }
}

/* Slide Menu */
.slide-menu.in {
  background-color: #F5F5F5;
  .box-shadow (2px 0 1px rgba(0, 0, 0, 0.2));
}

/* Navbar */
.navbar {
  .navbar-brand {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.5em;
    line-height: 20px;
    padding-top: 8px;
    padding-left: 25px;
    margin-left: 6%;
    float: none;
    display: inline-block;
    background: url('../images/logo.png') no-repeat 0 50%;
    background-size: 20px 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  }
  & > ul > li > a {
    line-height: 25px;
  }
}
.navbar-inverse {
  background: #1abc9c; /* Old browsers */
  background: -moz-linear-gradient(top,  #1abc9c 0%, #16a085 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1abc9c), color-stop(100%,#16a085)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1abc9c 0%,#16a085 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1abc9c 0%,#16a085 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1abc9c 0%,#16a085 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1abc9c 0%,#16a085 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#16a085',GradientType=0 ); /* IE6-9 */

  border-top: 0;
  border-right: 0;
  border-left: 0;

  .box-shadow (0 2px 0 rgba(0, 0, 0, 0.2));
}

/* Media Body */
.media-body {
  & > div,
  & > p {
    color: darken(@gray-light, 5%);
  }
  & label {
    font-weight: normal;
  }
}

/* Sidebar */
.sidebar {
  background: #1abc9c; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #1abc9c 0%, #16a085 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1abc9c), color-stop(100%,#16a085)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #1abc9c 0%,#16a085 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #1abc9c 0%,#16a085 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #1abc9c 0%,#16a085 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #1abc9c 0%,#16a085 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#16a085',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  &,
  .brand-sidebar,
  .nav-heading {
    color: #FFF;
  }
  .nav-heading {
    text-transform: uppercase;
    padding: 5px 16px 0 24px;
  }
  .nav > li > a {
    color: #FFF;
    padding-left: 24px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
    & > img {
      margin-right: 5px;
    }
  }

  .brand-sidebar {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 24px;
    background: url('../images/logo.png') no-repeat 0 52%;
    background-size: 20px 20px;

  }
  ul > li > a {
    font-size: 18px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
  }
}

/* Sliding Content */
.slide {
  .box-shadow (-5px 0 5px rgba(0, 0, 0, 0.2));
  background: #F5F5F5;
}