//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  padding: 9px;
  margin-bottom: 20px;
  background-color: @well-bg;
  border: 1px solid darken(@well-bg, 12%);
  .box-shadow(0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-lg {
  padding: 24px;
}
.well-md {
  padding: 19px;
}
